@using WebEnterprise.ViewModels.Common;
@model PagedResult<WebEnterprise.ViewModels.Catalog.Document.DocumentsVm>
@{
    ViewData["Title"] = "User Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="grid wide">
    <div class="row">
        <!-- sidebar start -->
        <div class="col l-3 m-0 c-0" style="margin: 0;">
            <div class="sidebar">
                <h4>Faculties</h4>
                <ul>
                    <li id="1" class="category-sidebar" data-id="data-all">All</li>
                    <li id="2" class="category-sidebar" data-id="data-design">Design</li>
                    <li id="3" class="category-sidebar" data-id="data-it">Information Technology</li>
                    <li id="4" class="category-sidebar" data-id="data-business">Business</li>
                    <li id="5" class="category-sidebar" data-id="data-tourism">Tourism</li>
                </ul>
            </div>
        </div>
        <!-- sidebar end -->
        <!-- content container start-->
        <div class="col l-9 m-12 c-12">
            <div class="content-container-box">
                <div class="header-box-content">
                    <div class="nameFaculty">
                        <span> Selecting:</span> <span id="selectCate"></span>
                    </div>
                </div>
                <div class="mobile-sidebar">
                    <ul class="mSidebar-list">
                        <li id="1" class="mSidebar-item" data-id="data-all">All</li>
                        <li id="2" class="mSidebar-item" data-id="data-design">Design</li>
                        <li id="3" class="mSidebar-item" data-id="data-it">Information Technology</li>
                        <li id="4" class="mSidebar-item" data-id="data-business">Business</li>
                        <li id="5" class="mSidebar-item" data-id="data-tourism">Tourism</li>
                    </ul>
                </div>
                <!-- data container start-->
                <div class="content-container-data" id="data-all">
                    <div class="row">

                        <div class="col l-4 c-12 m-4">

                            <div class="dataBox">
                                <h4>Number of articles</h4>
                                @foreach (var item in Model.Items)
                                {
                                    <span>@Html.DisplayFor(modelItem => item.ViewCount)</span>
                                }
                            </div>
                        </div>
                        <div class="col l-4 c-12 m-4">
                            <div class="dataBox">
                                <h4>Articles approved</h4>
                                @foreach (var item in Model.Items)
                                {
                                    <span>@Html.DisplayFor(modelItem => item.TotalTrue)</span>
                                }
                            </div>
                        </div>
                        <div class="col l-4 c-12 m-4">
                            <div class="dataBox">
                                <h4>Articles waiting</h4>
                                @foreach (var item in Model.Items)
                                {
                                    <span>@Html.DisplayFor(modelItem => item.TotalFalse)</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <fieldset style="margin-left:12px" class="col l-5 c-12">
                            <legend>Download documents (.zip)</legend>
                            <form action="." method="POST">
                                <input type="text" data-toggle="datepicker" data-date-format="yyyy.mm"
                                       placeholder="Pick month">
                                <button type="submit">Download</button>
                            </form>
                        </fieldset>
                    </div>
                    <!-- table list students -->
                    <div class="row">
                        <div class="col l-12">
                            <h1 style="text-align: center;">List students</h1>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Number of document</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model.Items)
                                {
                                    <tbody>
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.ViewCount)</td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content-container-data" id="data-design">
                    <div class="row">
                        <div class="col l-4 c-12 m-4">
                            <div class="dataBox" style="background-color: aquamarine;">
                                <h4>Number of articles</h4>
                                <span>11</span>
                            </div>
                        </div>
                        <div class="col l-4 c-12 m-4">
                            <div class="dataBox">
                                <h4>Articles approved</h4>
                                <span>12</span>
                            </div>
                        </div>
                        <div class="col l-4 c-12 m-4">
                            <div class="dataBox">
                                <h4>Articles waiting</h4>
                                <span>15</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <fieldset style="margin-left:12px" class="col l-5 c-12">
                            <legend>Download documents (.zip)</legend>
                            <form action="." method="POST">
                                <input type="text" data-toggle="datepicker" data-date-format="yyyy.mm"
                                       placeholder="Pick month">
                                <button type="submit">Download</button>
                            </form>
                        </fieldset>
                    </div>

                    <!-- data container end -->
                </div>
            </div>
            <!-- content container end-->
        </div>
        @await Component.InvokeAsync("Pager", Model)
    </div>
</div>